<app-setup-page-layout
  breadcrumb="{{ breadcrumb() }}"
  title="{{ title() }}"
  sectionTitle="{{ sectionTitle() }}"

  [createDisabled]="!!selectedUser()"
  [updateDisabled]="!selectedUser() || isSaving()"
  [deleteDisabled]="!selectedUser() || isSaving()"
  [resetDisabled]="isSaving()"

  (create)="onCreate()"
  (update)="onUpdate()"
  (delete)="onDelete()"
  (reset)="onReset()">

  <div class="user-setup-container">
    <div class="detail-card">
      <form [formGroup]="form" class="user-form">
        <div class="form-row">
          <label>User ID: <span>*</span></label>
          <input type="text" formControlName="userId" />
        </div>

        <div class="form-row">
          <label>User Name: <span>*</span></label>
          <input type="text" formControlName="userName" />
        </div>

        <div class="form-row two-columns">
          <label>Password: <span>*</span></label>
          <input type="password" formControlName="passwordShow" [type]="form.get('isShowPassword')?.value ? 'text' : 'password'" />

          <label class="checkbox-label">
            Show password:
          </label>
          <input type="checkbox" formControlName="isShowPassword"/>
        </div>

        <div class="form-row two-columns">
          <label>E-Mail:<span>*</span></label>
          <input type="text" formControlName="email" />

          <label class="checkbox-label"> Is Active:</label>
          <input type="checkbox" formControlName="isActive"/>
        </div>

        <div class="form-row two-fields">
          <label>Department:</label>
          <select formControlName="department">
            <option value="">Select...</option>
            @for (dept of departments(); track dept.data_Code) {
              <option [value]="dept.data_Code">{{ dept.data_Value }}</option>
            }
          </select>

          <label>Role: <span>*</span></label>
          <select formControlName="role">
            @for (role of roles(); track role.id) {
              <option [value]="role.name">{{ role.name }}</option>
            }
          </select>
        </div>

      </form>
    </div>

    <div class="grid-card">
      <h3>User List</h3>

      <table class="user-table">
        <thead>
          <tr>
            <th>User ID</th>
            <th>User Name</th>
          </tr>
        </thead>

        <tbody>
          @for (user of users(); track user.userId) {
            <tr
              [class.selected]="selectedUser()?.userId === user.userId"
              (click)="selectUser(user)">
              <td>{{ user.userId }}</td>
              <td>{{ user.fullName }}</td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

</app-setup-page-layout>
