<div class="setup-toolbar">
  <button
    type="button"
    class="btn btn-create"
    [disabled]="createDisabled()"
    (click)="create.emit()">
    {{ 'COMMON.CREATE' | translate }}
  </button>

  <button
    type="button"
    class="btn btn-update"
    [disabled]="updateDisabled()"
    (click)="update.emit()">
     {{ 'COMMON.UPDATE' | translate }}
  </button>

  <button
    type="button"
    class="btn btn-delete"
    [disabled]="deleteDisabled()"
    (click)="delete.emit()">
     {{ 'COMMON.DELETE' | translate }}
  </button>

  <button
    type="button"
    class="btn btn-reset"
    [disabled]="resetDisabled()"
    (click)="reset.emit()">
    {{ 'COMMON.RESET' | translate }}
  </button>
</div>
